@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.layout-navbar, #layout-menu, .content-footer{
  display: none;
}

.logo-molotov{
  img{
    max-width: 450px;
  }
}

.kl-section-hero-homepage {
  padding: 200px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
@media (min-width: 992px) {
  .kl-section-hero-homepage {
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
}
.kl-section-hero-homepage:before {
  position: absolute;
  background: linear-gradient(180deg, rgba(1, 0, 5, 0) 32.28%, rgba(1, 0, 5, 0.76) 67.69%, #010005 87.75%);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  pointer-events: none;
}
.kl-section-hero-homepage .kl-logo-hero {
  max-width: 60%;
}
@media (min-width: 992px) {
  .kl-section-hero-homepage .kl-logo-hero {
    max-width: 40%;
  }
}
.kl-section-hero-homepage .kl-btn-scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.kl-bg-hero-home {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
  opacity: 0.3;
}
.kl-bg-hero-home.kl-trans-img-bg {
  left: -20px;
  top: -50px;
  right: -50px;
  transform: rotate(-2.6deg);
}
.kl-bg-hero-home:before {
  position: absolute;
  background: linear-gradient(0deg, #D9D9D9 19.46%, rgba(144, 144, 144, 0.29) 63.76%, rgba(115, 115, 115, 0) 101.98%);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  height: 1188px;
  min-height: 100%;
  pointer-events: none;
}
.kl-bg-hero-home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.kl-bg-deco-hero-home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(../images/bg-body-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  height: 1077px;
  min-height: 100%;
  pointer-events: none;
}


.page-template-molotov{
  color: #ffffff;
  background: #000 !important;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  #content-page-gv{
    padding-top: 50px !important;
  }
  h1{
    margin-top: 40px;
    font-size: 30px;
    line-height: 1.2em;
    background: linear-gradient(90deg, #977017 0%, #ECC777 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
    font-style: italic !important;
  }
  .min-molotov{
    margin: 50px 0;
    position: relative;
    .min-molotov-content{
      h2{
        font-size: 25px;
        font-weight: 600;
        font-style: italic;
        line-height: 1.2em;
        color: #ECC777;
      }
    }
    .min-molotov-contenders{
      margin-top: 20px;
    }
    &::after {
      content: "";
      background: linear-gradient(90deg, #ffffff 40.5%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.4;
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
}
.cta-molotov{
  background-image: linear-gradient(90deg, #977017 0%, #ECC777 100%);
  background-size: 100% 100%;
  transition: all ease 0.5s;
  border: 0;
  font-size: 16px;
  line-height: 1.4em;
  line-height: 1;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 15.5px 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  &:hover{
    background-size: 150% 100%;
    color: #000000;
  }
}

.molotov-twitch{
  h1{
    background: linear-gradient(90deg, #b18ad4 0%, #a966e6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .min-molotov-content{
    h2{
      color: #a966e6 !important;
    }
  }
  .cta-molotov{
    background-image: linear-gradient(90deg, #a966e6 0%, #b18ad4 100%);
  }
}


.btn-cta-starttop {
    padding: 0;
}

.twitch-possible .btnstarttwitch:hover {
    border: 2px solid #977018;
    background: transparent;
    color: #dfaf41;
}

.btn-wording-rose{
  background-image: linear-gradient(90deg, #977017 0%, #ECC777 100%);
  background-size: 100% 100%;
  &:hover{
    background-size: 150% 100%;
    background-image: linear-gradient(90deg, #977017 0%, #ECC777 100%);
    border-radius: 10px;
  }
}

$color1: #96711f;
$color2: #977017;
$color9: #ECC777;

.bubbly-button {
  background: $color2 !important;

  &:before {
    background-image: radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, transparent 5%, $color2 5%, transparent 30%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, transparent 10%, $color2 15%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%);
  }

  &:after {
    background-image: radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, transparent 10%, $color2 15%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%),
      radial-gradient(circle, $color2 5%, transparent 5%);
  }

  &:focus {
    background-color: darken($color2, 5%);
    box-shadow: 0 2px 25px rgba(36, 1, 123, 0.701);

    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }

  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
}

.modes-jeu-twitch__content-btns button:hover {
    border: 2px solid #977018;
    background: rgba(255, 255, 255, 0.031372549);
}
.modes-jeu-twitch__content-btns button.active-twitch-mode {
    border: 2px solid #977018;
    background: rgba(255, 255, 255, 0.031372549);
}

.dark-layout .card {
    background-color: rgba(255, 255, 255, 0.01);
}

.single-tournoi, #toplist-single{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(270deg, #08023F 0%, #010009 50.5%, #080435 100%) !important;
  overflow-x: hidden;
  &:before{
    content: "";
    background: url(../images/bg-body.png) no-repeat center top / cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
  }
}

.ba-cover-r:after{
  display: none;
}

.top-question{
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.2em;
  color: #ECC777;
}

.modal-view {
    padding: 5px;
}

.nav-molotov{
  padding: 10px 0;
  text-align: center;
  a{
    border: none;
    border-radius: 10px !important;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 10px !important;
    font-size: 0.8rem;
    font-weight: 600;
    background: rgba(97, 84, 167, .2);
    color: #fff;
  }
}

.t-sponso-container #countdown .counter-for-twitch .nums, .t-normal-container #countdown .counter-for-twitch .nums {
    color: $color1;
}
.t-sponso-container .twitch-overlay, .t-normal-container .twitch-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(210deg, rgba(12, 10, 39, 0.8705882353) 40%, rgba(35, 11, 54, 0.99) 100%) fixed;
    border: 2px solid $color1;
    border-radius: 0;
    box-shadow: 2px 2px 32px 1px $color1 inset;
}
.logo-simple, .right-slim{
  display: none !important;
}

#launchGameBtn{
  background-image: linear-gradient(90deg, #977017 0%, #ECC777 100%);
  background-size: 100% 100%;
  transition: all ease 0.5s;
  border: 0;
  font-size: 16px;
  line-height: 1.4em;
  line-height: 1;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 15.5px 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  &:hover{
    background-size: 150% 100%;
    color: #000000 !important;
  }
}

.t-titre-tournoi{
  em{
    display: none;
  }
  font-size: 30px;
  line-height: 1.2em;
  background: linear-gradient(90deg, #977017 0%, #ECC777 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: 700;
  font-style: italic !important; 
}

.t-sponso-container .twitch-votes-container .votes-container > p:first-of-type, .t-normal-container .twitch-votes-container .votes-container > p:first-of-type {
    color: $color9;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.t-sponso-container #participants, .t-normal-container #participants {
    background-color: rgba(255, 255, 255, 0.01);
}

#ranking-player{
  background-color: rgba(255, 255, 255, 0.01) !important;
}

.t-sponso-container #participants, .t-normal-container #participants{
    background: rgba(255, 255, 255, 0.01) !important;
}


.t-sponso-container #ranking-player table, .t-normal-container #ranking-player table {
    background: transparent;
}
.text-primary {
    color: $color9 !important;
}

.t-sponso-container #participants .card-title, .t-normal-container #participants .card-title {
    color: $color9 !important;
    font-size: 1rem;
}

.t-sponso-container .twitch-overlay #participants-overlay::after, .t-normal-container .twitch-overlay #participants-overlay::after {
    content: attr(data-content);
    position: absolute;
    top: -14%;
    left: 2%;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.t-sponso-container .twitch-overlay #participants-overlay::after, .t-normal-container .twitch-overlay #participants-overlay::after {
    content: attr(data-content);
    position: absolute;
    top: -50%;
    left: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #96711f;
    text-align: center;
    width: 100%;
}
.t-sponso-container .twitch-overlay #participants-overlay, .t-normal-container .twitch-overlay #participants-overlay {
    font-size: 1rem;
    position: relative;
    width: 80%;
    margin: 30px 0 0 0 !important;
}

.table-point{
  td{
    border: 1px solid #ffffff27 !important;
  }
}

.t-sponso-container #ranking-player h4, .t-normal-container #ranking-player h4 {
    color: #d1af63 !important;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px 0 0 0;
    margin-bottom: 6px !important;
}

.or{
  color: $color9;
}

.t-sponso-container .mode-alert, .t-normal-container .mode-alert {
    margin: 0;
}

.table > :not(caption) > * > * {
  border: none !important;
  &::after {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #ffffff 50.5%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

.participatif-container{
  .display_battle{
    max-width: 1250px;
    margin: 0 auto;
  }
}

.t-sponso-container .twitch-votes-container .votes-container .votes-stats, .t-normal-container .twitch-votes-container .votes-container .votes-stats {
    color: #FFF;
    height: 80px;
    width: 80px;
    border: 1px solid $color1;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    outline-color: $color1;
    transition: all 700ms linear;
    position: relative;
}
.t-sponso-container #countdown, .t-normal-container #countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4rem 0;
    width: 100%;
    min-height: 100px;
}
.t-sponso-container .twitch-overlay #participants-overlay, .t-normal-container .twitch-overlay #participants-overlay {
    font-size: 1rem;
    position: relative;
    width: 100%;
    margin: 30px 0 0 0 !important;
}
.t-sponso-container .twitch-overlay #participants-overlay::after, .t-normal-container .twitch-overlay #participants-overlay::after {
    content: attr(data-content);
    position: absolute;
    top: -80%;
    left: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #96711f;
    text-align: center;
    width: 100%;
}

.share-toplist-part{
  display: none;
}

.top-title-question{
  span{
    display: block !important;
  }
}

.toplistbloc{
  padding: 0 !important;
  .nav-molotov{
    padding: 40px 0;
  }
}

.slim-left{
  a{
    .va{
      display: none;
    }
  }
}

#twitch-games-ranking {
  top: 0;
  .go-to-tirage-vkrz a {
    background: #977017 !important;
    color: #000 !important;
    font-style: normal !important;
  }
}
.popup-overlay .participate-popup {
    background: #000;
}
.popup-overlay .popup p {
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #ffffff;
}
.popup-header h3 {
    background: #000;
    border: 2px solid #977018;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    display: inline-flex;
    transform: rotate(-2deg);
    position: relative;
    top: 10px;
    z-index: 2;
    color: #977018;
}

.cta-molotov-see{
  display: none;
  a{
    background: transparent !important;
    border: 2px solid #96711f !important;
    color: #96711f !important;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block !important;
    transition: all 0.2s ease-in;
    &:hover{
      background: #96711f !important;
      color: #fff !important;
    }
  }
}